body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
  background-image: url('https://cdn-media.sforum.vn/storage/app/media/quynh/hinh-nen-loopy-47.jpg');
  background-size: cover; /* Làm cho hình nền phủ kín màn hình */
  background-position: center; /* Căn giữa hình nền */
  background-attachment: fixed; /* Giữ hình nền cố định khi cuộn trang */
}
;
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
}

.decor-image {
    width: 300px;
    height: auto;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff1493;
}
